/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* FONT INFO 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/ 

/* Mobile first general styles */

html {
  background: #202322;
  font-size: 16px;
}

body {
  font-family:'Open Sans', sans-serif;
  font-size: 1em;
}

.container {
  width: 100%;
}

h1 {
  color: #e2e3ed;
  font-family: 'Poppins', sans-serif;
  font-size: 2.25em;
}

h2, 
h3 {
  color: #e2e3ed;
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
}


h4 {
  color: #e2e3ed;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
}

p {
  color: #e2e3ed;
  font-family: 'Open Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.285;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

a {
  color: #e2e3ed;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}


/* Header styles */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #202322;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-flow: row wrap;
  }

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 20px;
  padding-bottom: 10px;
}

.header-divider {
  border-top: #e2e3ed solid .5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Navigation */

nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

ul.nav-list {
  display: flex;
  width: 57%;
  justify-content: space-around;
  padding: 0;
}

.nav-list li a {
  font-family: 'Open Sans', sans-serif;
  color: #e2e3ed;
}

/* --------- Main Area Styles ---------*/

/* Hero Area */

.hero-area {
  display: flex;
  background: url(../img/jake-melara-30679-unsplash.jpg) center no-repeat;
  background-size: cover;
  min-height: 500px;
  justify-content: center;
  flex-flow: row wrap;
}

.hero-area h1 {
  margin: 0;
}


/* Aside / Form */

aside {
  display: flex;
  justify-content: center;
  background-color: #527158;
}

aside .content-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.form-description h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.125rem;
}
.form-description p {
  margin: 0;
}

.form {
  width: 100%;
}

.form h3 {
  font-size: 1.125rem;
}

input[type=text] {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-style: italic;
    color: #9d9ea4;
    padding: 0 0 0 15px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 0;
}

input[type=button] {
  background-color: #2a423a;
  color: #e2e3ed;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 50px;
  border: 0;
  padding: 0;
}


/* Features */

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: url(../img/rawpixel-800820-unsplash1.jpg) center no-repeat;
  background-size: cover;
}

.features .content-wrapper h2 {
  margin: 0px;
}

.features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features-items article {
  width: 55%;
}

.features-items p {
  display: flex;
  justify-content: center;
}

.features i {
  font-size: 3.75em;
}

p.fontawesome-icon {
  height: 60px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.features-item-description {
  text-align: center;
  margin: 0;
}

/* Reviews */

.reviews {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #2a423a;
}

.review-title h2 {
  margin-bottom: 40px;
  margin-top: 0;
  width: 90%;
  line-height: 1;
}

.review-photo figure img {
  width: 100%;
}

article .review-subheading h4 {
  width: 55%;
  margin: 20px 0;
}

.review-subheading p {
  margin: 0;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.contact h3 {
  margin-top: 0;
}

.contact-info p {
  margin: 0;
  font-style: normal;
  text-align: center;
}

.contact-info p a {
  font-weight: 500;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.social h3 {
  margin-top: 50px;
}

footer .social-icons {
  width: 250px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

footer .social-icons p {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
}

footer .social-icons p a {
  background: #527158;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

 /* ----- Copyright Section ----- */

 .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202322;
 }

 .copyright p {
   margin: 0 0 10px 0;
 }
/********** END OF HOME PAGE *********/

/* ==========================================================================
   FAQ Page
   ========================================================================== */


.faq {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq-content h2 {
  line-height: 1;
  margin: 0;
}

.faq-items article h4 {
  margin-bottom: 15px;
  margin-top: 50px;
  line-height: 1.333;
}

.faq-item-description {
  margin: 0;
}

/* ==========================================================================
   About Page
   ========================================================================== */

/* Mission */

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

.mission-content {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.mission-content h2 {
  margin: 0;
}

.mission-content p {
  margin: 20px 0 0 0;
}

/* Map */

.map figure {
  width: 100%;
  height: 0;
  padding-bottom: 125%;
  overflow: hidden;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Contact */

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #2a423a;
}

.contact-section .content-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-section h3 {
  margin: 0;
}

address {
  display: flex;
  flex-direction: column;
}

.contact-content h4 {
  margin: 15px 0; 
}

.general-information {
  display: flex;
  flex-direction: column;
}

.general-information h4 {
  font-style: normal;
}

.general-information p {
  font-style: normal;
  margin: 0;
}

.facilitator-chat {
  display: flex;
  flex-direction: column;
}

.facilitator-chat h4 {
  font-style: normal;
}

.facilitator-chat p {
  font-style: normal;
  margin: 0;
}
 


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /*Tablet styles here*/
    
   /* General styles */
.content-wrapper {
  max-width: 640px;
  margin: 100px 0;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.333;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

    /* Header */ 

header .content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px 0;
}

header figure a {
  justify-content: flex-start;
}

header figure a img {
  margin: 0;
  padding: 0;
}

.header-divider {
  border-top: none;
}

    /* Navigation styles */
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

ul.nav-list {
  display: flex;
  width: 40%;
  justify-content: space-between;
  padding: 0;
}

/* ==========================================================================
   Home Page
    ========================================================================== */

    /* Hero area */

.hero-area {
  min-height: 600px;
  display: flex;
  justify-content: center;
}

.hero-area h1 {
  font-size: 3rem;
  line-height: 1;
  margin: 0;
}

    /* Aside / Form */

aside {
  display: flex;
  justify-content: center;
}

aside .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 50px 0;
}

.form h3,
.form-description h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

aside .form-description,
aside .form {
  width: 40%;
  margin: 0;
}

    /* Features */

.features article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%;
}

.features .features-item-description {
  width: 63%;
}

p.fontawesome-icon {
  margin-top: 40px;
  margin-bottom: 30px;
}

    /* Review */

.reviews article {
  display: flex;
  justify-content: space-between;
}

.reviews article .review-photo {
  width: 49%;
}

.review-title h2 {
  width: 85%;
  margin-top: 0;
}

.review-subheading {
  padding-left: 20px;
  width: 49%;
}

article .review-subheading h4 {
  margin-top: 0;
  font-size: 1.5rem;
  width: 80%;
}

    /* Footer */

footer {
  margin: 60px;
}

footer .content-wrapper {
  margin: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.contact {
  width: 30%;
  display: flex;
  flex-flow: row wrap;
}

.contact h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.social {
  width: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
} 

.social h3 {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 1.5rem;
}

.social-icons p a {
  margin-bottom: 0;
}


/* ==========================================================================
   About Page
    ========================================================================== */
  
    /* Mission */

.mission .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-content {
  display: flex;
  justify-content: center;
}

.mission-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-between;
}

.mission-content p {
  width: 45%;
  padding-top: 15px;
}

  /* Map */

  .map figure {
    padding-bottom: 45%;
  }

  /* Contact section */

.contact-section .content-wrapper h3 {
  width: 77%;
  padding-bottom: 50px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-content h4 {
  margin-top: 0;
  font-size: 1.5rem;
}

/* ==========================================================================
   FAQ Page
    ========================================================================== */

.faq-content h2 {
  margin: 0;
  font-size: 1.875rem;
  width: 50%;
}

.faq-items {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.faq-items article {
  flex-basis: 45%;
}

.faq-items article h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
}


.faq-item-description {
  margin: 0;
}


/**** DESKTOP STYLES ****/
@media screen and (min-width: 1200px) {
    /*Desktop styles */

    /* General styles */

.content-wrapper {
  max-width: 960px;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}
    /* Header */


ul.nav-list {
  width: 25%;
}

    /* Hero area */
.hero-area h1 {
  font-size: 3.75rem;
  width: 80%;
}

    /* Aside and Form */
aside .content-wrapper {
  justify-content: space-around;
}

.form-description,
.form {
  max-width: 320px;
}

.form h3,
.form-description h3 {
  font-size: 1.875rem;
}

input[type=text] {
  font-size: 1.125rem;
}

input[type=button] {
  font-size: 1.5rem;
}
    /* Features */

.features .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.features .content-wrapper h2 {
  margin-bottom: 70px;
  width: 90%;
}

.features-items {
  justify-content: space-around;
}
.features-items article {
  flex-basis: 33%;
}

.fontawesome-icon {
  height: 60px;
}

.features-item-description {
  width: 170px;
  margin-bottom: 45px;
}

    /* Review */

.review-title h2 {
  font-size: 2.25rem;
}

.review-subheading {
  padding-left: 35px;
}

.review-subheading h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;
}

    /* Footer */

    .contact,
    .social {
      width: 30%;
    }

/* ==========================================================================
   FAQ Page
    ========================================================================== */
  
.faq-content {
  margin: 100px;
}

.faq-content h2 {
  margin-top: 0;
}
.faq-items article {
  flex-basis: 450px;
}

.faq-question {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ==========================================================================
   About Page
    ========================================================================== */
 
    /* Map */
    .map figure {
      padding-bottom: 37%;
    }

  /* Contact */
    .contact-section {
      width: 100%;
    }

    .contact-section .content-wrapper {
      width: 100%;
      justify-content: space-around;
      margin: 100px;
    }

    .contact-section h2 {
      margin: 0;
    }

    .contact-content {
      justify-content: space-around;
    }
    
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}